
{% extends "base.html" %}

{% load static %}

{% block tittle %} İçerik {% endblock %}

{% block content %}

<div class="contanier mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="row">          
                    <div class="col-md-12">
                        <div class="card-body">
                            <h1 class="card-title h3 mb-3"> {{ blog.title|title }} </h1>
                            <img src="{{ blog.image.url }}" alt="" class="img-fluid" >
                            <p class="card-text">
                                {{ blog.description|safe }}
                            </p>          
                        </div>
                    </div>
                </div>
            </div>                   
        </div>
    </div>
</div>
 <style>
    .card.mb-3 {
        background-color:white;
        padding-left: 20%;
        padding-right: 20%;
    }

    .card-title.h3.mb-3 {
        text-decoration:underline;
        text-align: center;
    }

    .card-body {
        margin: 20px;
        background-color: white; 
        border-radius: 20px; 
        /*padding: 0 20px; */

    }

    .img-fluid {
            max-width: 40%;
            max-height: 40%;
            height: auto;
            margin-bottom: 20px;
            margin-left:30%;
            text-align: center;

    } 

    .card-text {
        text-align: left;
        padding: 0 20px; 
        margin: 0 auto; 
        max-width: 800px; 

    }
    
 </style>
{% endblock %}

